--- 
title: Esto es una prueba
issue: 2
date: 24 June 2007
---


<%= render 'partials/modules/mod_text', :text =>'Esto es una prueba para el Señor Javier Sanchez Marin' %>

<%= render 'partials/modules/mod_title', :title =>'HTML'%>

<%= render 'partials/modules/mod_article_image_medium', :image =>'item_medium.jpg', :title =>'Javier es un SEÑOR', :link =>'http://marca.com', :text=>'Texto1'%>

<%= render 'partials/modules/mod_separata_line'%>

<%= render 'partials/modules/mod_article_image_small', :image =>'item_small.jpg', :title =>'Iván es un SEÑOR', :link =>'http://as.com', :text=>'Texto2'%>

<%= render 'partials/modules/mod_separata_line'%>

<%= render 'partials/modules/mod_article_image_large', :image =>'item_large.jpg', :title =>'Natalí es una SEÑORITA', :link =>'http://elpais.com', :text=>'Texto3'%>

<%= render 'partials/modules/mod_article_text', :title =>'dale candela', :link =>'http://prueba.com', :text=>'Textosdfdsfds'%>

<%=render 'partials/modules/mod_article_link', :link =>'http://as.com', :title =>'dale'%>

<%= render 'partials/modules/mod_separata'%>

<%= render 'partials/modules/mod_title', :title =>'CSS'%>

<%= render 'partials/modules/mod_article_image_medium', :image =>'item_medium.jpg', :title =>'Javier es un SEÑOR', :link =>'http://marca.com', :text=>'Texto1'%>

<%= render 'partials/modules/mod_separata_line'%>

<%= render 'partials/modules/mod_article_image_small', :image =>'item_small.jpg', :title =>'Iván es un SEÑOR', :link =>'http://as.com', :text=>'Texto2'%>

<%= render 'partials/modules/mod_separata_line'%>

<%= render 'partials/modules/mod_article_image_large', :image =>'item_large.jpg', :title =>'Natalí es una SEÑORITA', :link =>'http://elpais.com', :text=>'Texto3'%>

<%= render 'partials/modules/mod_article_text', :title =>'dale candela', :link =>'http://prueba.com', :text=>'Textosdfdsfds'%>

<%=render 'partials/modules/mod_article_link', :link =>'http://as.com', :title =>'dale'%>




