<tr>
	<td align="center">
		<table width="561" style="border-collapse: collapse;border-spacing: 0;">
			<tr>		
				<td valign="top" width="249"><img src="http://thecocktail.github.com/Front-end-weekly/images<%=@item.identifier%><%= @image%>" width="229"  alt=""/></td>
				<td valign="top">
					<p style="margin:5px 0;"><a href="<%= @link%>" class="link" style="font-family: arial,sans-serif;font-size: 16px;color: #338AC4;font-weight: bold;"><%= @title%></a></p>
					<p class="text" style="margin:5px 0;font-family: arial, sans-serif;font-size: 16px;color: #666666;"><%= @text%></p>
				</td>
			</tr>
		</table>
	</td>
</tr>