--- 
title: Índice
---

<h1>ARCHIVE</h1>

  <ul>
		<%# begin %>
		<% dup_items = @items.dup.reject{|i| /^\/$|^\/module/.match(i.path) } %>
		<% dup_items.sort{|a,b| Date.strptime(b[:date],"%d %B %Y") <=> Date.strptime(a[:date],"%d %B %Y")  }.each do |item| %>
  	    <li style="padding-bottom: 0.7em">
  	      <p><%= localized_date item[:date] %> - <a href=".<%= item.path %>"><%= item[:title].nil? ? 'Front-end Weekly' : item[:title] %> - Número <%= item[:issue]%> </a></p>
  	    </li>
    <% end %>
    <%# rescue
			raise @items.map{|i| [i[:title], i.identifier]}.inspect
		end %>
  </ul>
  
