--- 
issue: 7
date: 19 August 2011
---

<%= render 'partials/modules/mod_separata' %>

<%= render 'partials/modules/mod_title', 
  :title => 'JS' %>

<%= render 'partials/modules/mod_article_link', 
  :title => 'Fundamentos de jQuery, traducido a español.', 
  :link => 'http://librojquery.com/' %>
  
<%= render 'partials/modules/mod_article_text', 
  :title => 'Proxino. Javascript monitorization.', 
  :link => 'https://www.proxino.com', 
  :text => 'Servicio de notificaciones que captura excepciones javascript de tu aplicación en el cliente del usuario.' %>
  
<%= render 'partials/modules/mod_article_text', 
  :title => 'jQuery boilerplate', 
  :link => 'http://jqueryboilerplate.com/', 
  :text => 'Esqueleto base para el desarrollo de plugins de jQuery.' %>

<%= render 'partials/modules/mod_article_text', 
  :title => 'Animating with javascript: from setInterval to requestAnimationFrame', 
  :link => 'http://hacks.mozilla.org/2011/08/animating-with-javascript-from-setinterval-to-requestanimationframe/',
  :text => 'Diferentes alternativas para realizar animaciones en JS.' %>
  
<%= render 'partials/modules/mod_article_text', 
  :title => 'Summary of various exciting CSS drafts and proposals', 
  :link => 'http://nimbupani.com/summary-of-various-exciting-css-drafts-and-proposals.html?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+nimbu+%28Web+Design+Articles+on+Nimbupani+Designs%29', 
  :text => 'Interesantes propuestas y borradores del CSS Working Group.' %>
  
<%= render 'partials/modules/mod_article_text', 
  :title => 'Extending built-in native objects. Evil or not?', 
  :link => 'http://perfectionkills.com/extending-built-in-native-objects-evil-or-not/', 
  :text => 'Extender objetos nativos de Javascript con métodos propios o métodos estándar que existen en especificaciones superiores.' %>

<%= render 'partials/modules/mod_article_text',
  :title => 'Spin.js',
  :link => 'http://fgnass.github.com/spin.js', 
  :text => 'Cross-browser spinner. Sin imágenes, sin CSS e independiente de la resolución del dispositivo.' %>


<%= render 'partials/modules/mod_separata' %>

<%= render 'partials/modules/mod_title', 
  :title => 'CSS' %>
  
<%= render 'partials/modules/mod_article_link',
  :title => 'CSS Lint update',
  :link => 'http://www.nczonline.net/blog/2011/08/18/css-lint-updated-to-0-5-0/?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+nczonline+%28NCZOnline+-+The+Official+Web+Site+of+Nicholas+C.+Zakas%29' %>
  
<%= render 'partials/modules/mod_article_text',
  :title => 'Golden Grid System',
  :link => 'http://goldengridsystem.com/', 
  :text => 'Framework CSS para reticulado multidispositivo.' %>
  
<%= render 'partials/modules/mod_article_text',
  :title => 'Normalize.css',
  :link => 'http://necolas.github.com/normalize.css/', 
  :text => 'Una alternativa a los conocidos CSS Resets. Hace que todos los elementos se rendericen de forma consistente en todos los navegadores.' %>


<%= render 'partials/modules/mod_article_link',
  :title => 'Force Lion’s scrollbar back',
  :link => 'http://simurai.com/post/8083942390' %>
  
<%= render 'partials/modules/mod_article_link',
  :title => 'Borders on responsive images',
  :link => 'http://csswizardry.com/2011/07/borders-on-responsive-images/' %>

<%= render 'partials/modules/mod_separata' %>

<%= render 'partials/modules/mod_title', 
  :title => 'INTERESTING' %>
  
<%= render 'partials/modules/mod_article_link',
  :title => 'How LinkedIn used Node.js and HTML5 to build a better, faster app',
  :link => 'http://venturebeat.com/2011/08/16/linkedin-node/' %>



<%= render 'partials/modules/mod_separata' %>
