--- 
issue: 8
date: 26 August 2011
---

<%= render 'partials/modules/mod_separata' %>

<%= render 'partials/modules/mod_title', 
  :title => 'CSS' %>


<%= render 'partials/modules/mod_article_image_medium',
  :image => 'lionosxbuttons.jpg',
  :text => link('http://twitter.github.com/bootstrap/', 'Bootstrap, from Twitter.', true) + 'Completo y bonito bootstrap de Twitter para empezar rápido con tus proyectos.<br /><br />' +
           link('http://www.netmagazine.com/node/1342', 'Master CSS gradients.', true) + 'Artículo donde nos explica como utilizar todos los tipos de degradados disponibles en CSS.<br /><br />' +
           link('http://drublic.de/blog/css3-auto-hyphenation-for-text-elements/', 'CSS3: Auto Hyphenation for Text-Elements.', true) + 'Propiedades CSS con las que podremos cortar las palabras con guiones en textos justificados.<br /><br />' +
           link('http://css-infos.net/', 'All CSS properties.', true) + 'Tabla con todas las propiedades de CSS específicadas por niveles y navegadores.<br /><br />' +
           link('http://pixify.com/blog/use-os-x-lion-to-improve-your-ui/', 'OSX UI buttons', true) + 'CSS UI KIt del Lion OSX.' %>


<%= render 'partials/modules/mod_separata' %>

<%= render 'partials/modules/mod_title', 
  :title => 'JS' %>

<%= render 'partials/modules/mod_article_text', 
  :title => 'OCR and Neural Nets in Javascript', 
  :link => 'http://ejohn.org/blog/ocr-and-neural-nets-in-javascript/', 
  :text => 'Artículo donde analiza el funcionamiento de los captchas para lograr resolverlos automáticamente.' %>
  
<%= render 'partials/modules/mod_article_text', 
  :title => 'speak.js: Text-to-Speech on the Web', 
  :link => 'http://hacks.mozilla.org/2011/08/speak-js-text-to-speech-on-the-web/', 
  :text => 'Librería javascript capaz de reconocer la voz y transcribir lo dictado.' %>  
  
<%= render 'partials/modules/mod_article_text', 
  :title => 'Dropkick.js - Painless custom dropdowns, a jQuery joint', 
  :link => 'http://jamielottering.github.com/DropKick/', 
  :text => 'Plugin de jQuery que nos permite personalizar fácilmente los select de nuestros formularios.' %>
  
<%= render 'partials/modules/mod_article_text', 
  :title => 'Javascript that implements client-side hyphenation of HTML-Documents', 
  :link => 'http://code.google.com/p/hyphenator/', 
  :text => 'Versión de javascript para hacer compatible con todos los navegadores la propiedad de CSS3 hyphen.' %>
  
<%= render 'partials/modules/mod_article_text', 
  :title => 'batman.js', 
  :link => 'http://batmanjs.org/', 
  :text => 'Framework javascript de la gente de Shopify para desarrollar RIA. (MVC, vistas de HTML puro, acciones enrutables...).' %>      
  

<%= render 'partials/modules/mod_separata' %>

<%= render 'partials/modules/mod_title', 
  :title => 'HTML' %>

<%= render 'partials/modules/mod_article_text', 
  :title => 'Front-end Development Guidelines', 
  :link => 'http://taitems.github.com/Front-End-Development-Guidelines/', 
  :text => '' %>
  
<%= render 'partials/modules/mod_article_text', 
  :title => 'Rich snippets: Music', 
  :link => 'http://www.google.com/support/webmasters/bin/answer.py?answer=1623047&&hl=en', 
  :text => 'Ya está habilitado en los resultados de búsqueda el marcado específico para música.' %>

<%= render 'partials/modules/mod_article_text', 
  :title => 'HTML5 pollyfills', 
  :link => 'https://github.com/Modernizr/Modernizr/wiki/HTML5-Cross-browser-Polyfills', 
  :text => 'Galería de recursos para implementar HTML5 en navegadores que no lo admitan de forma nativa.' %>



<%= render 'partials/modules/mod_separata' %>
