--- 
issue: 5
date: 5 August 2011
---

<%= render 'partials/modules/mod_separata' %>

<%= render 'partials/modules/mod_title', 
  :title => 'MOST DISCUSSED' %>

<%= render 'partials/modules/mod_article_image_medium', 
  :image => 'css-layouts.jpg',
  :title => 'The future of CSS layouts', 
  :link => 'http://www.netmagazine.com/features/future-css-layouts', 
  :text => 'CSS3 no es sólo bordes redondeados y degradados, han aparecido nuevos estilos que nos ayudarán a crear estructuras web. En este artículo nos avanzan el posible futuro de los layouts en CSS. Dejamos de lado floats, positions y margins para adentrarnos en columns, flexible boxes, grids, templates, etc.' %>

<%= render 'partials/modules/mod_separata' %>



<%= render 'partials/modules/mod_title', 
  :title => 'HTML5' %>

<%= render 'partials/modules/mod_article_text', 
  :title => 'Avoiding common HTML5 mistakes', 
  :link => 'http://html5doctor.com/avoiding-common-html5-mistakes/', 
  :text => 'Una recopilación de los errores más comunes a la hora de implementar el marcado en HTML5.' %>

<%= render 'partials/modules/mod_article_text', 
  :title => 'Pull Quotes with HTML5 and CSS', 
  :link => 'http://miekd.com/articles/pull-quotes-with-html5-and-css/', 
  :text => 'Artículo donde nos explican como mostrar citas visualmente utilizando el atributo data-* de HTML5 y evitando duplicar contenido con blockquotes.' %>
      
<%= render 'partials/modules/mod_article_text', 
  :title => 'HTML5 and CSS3 - Adobe - The Expressive Web', 
  :link => 'http://beta.theexpressiveweb.com/#!/html5-audio', 
  :text => 'Recopilación de la mano de Adobe sobre técnicas avanzadas de HTML5 y CSS3, con un toque muy visual y práctico.' %>

<%= render 'partials/modules/mod_article_text', 
  :title => 'Getting Sourcey — native HTML5 Audio and video', 
  :link => 'http://www.webdirections.org/blog/getting-sourcey-native-html5-audio-and-video/', 
  :text => 'Empieza el post recordándonos que el nacimiento de la WWW no traía consigo la posibilidad de incrustar imágenes, aunque finalmente es un estándar. Y termina explicándonos cómo podemos utilizar las etiquetas &lt;audio> y &lt;video> de HTML5.' %>

<%= render 'partials/modules/mod_separata' %>


<%= render 'partials/modules/mod_title', 
  :title => 'VISUAL PLAYGROUND' %>

<%= render 'partials/modules/mod_article_image_medium', 
  :image => 'js-creative.jpg',
  :title => 'CreativeJS', 
  :link => 'http://creativejs.com/', 
  :text => 'Galería de trabajos realizados en Javascript y HTML5. Han lanzado el site hace poco pero actualizan a diario y con trabajos muy interesantes.' %>

<%= render 'partials/modules/mod_separata' %>


<%= render 'partials/modules/mod_title', 
  :title => 'CSS' %>

<%= render 'partials/modules/mod_article_text', 
  :title => 'More logo markup tips', 
  :link => 'http://csswizardry.com/2011/08/more-logo-markup-tips/', 
  :text => 'Teniendo en cuenta que los logos en la web se recomiendan que sean imágenes en línea (no por css) nos explican como “trampearlo” para utilizar también css y conseguir el efecto de hover. Muy recomendable leer también el artículo ' +
           link('http://csswizardry.com/2010/10/your-logo-is-an-image-not-a-h1/', 'Your logo is not a &lt;h1&gt;', false) + '.' %>
  
<%= render 'partials/modules/mod_article_link', 
  :title => 'Multiple Borders with CSS', 
  :link => 'http://www.impressivewebs.com/multiple-borders-css/' %>

<%= render 'partials/modules/mod_article_text', 
  :title => 'The Art & Science of Folding CSS Code', 
  :link => 'http://perishablepress.com/css-code-folding/', 
  :text => 'Hay muchas maneras de organizar estilos: tabulaciones, espacios, etc, pero lo mejor es valorar las ventajas / desventajas y sentirnos cómodos trabajando.' %>
  
<%= render 'partials/modules/mod_article_text', 
  :title => '@font-face Solutions & Suggestions', 
  :link => 'http://webdesignerwall.com/general/font-face-solutions-suggestions',
  :text => 'Un repaso a los tres principales métodos para implementar web fonts y las ventajas / desventajas de utilizar cada uno.' %>

<%= render 'partials/modules/mod_separata' %>
