--- 
issue: 3
date: 22 July 2011
---

<%= render 'partials/modules/mod_separata' %>

<%= render 'partials/modules/mod_title', 
  :title => 'CSS' %>

<%= render 'partials/modules/mod_article_text', 
  :title => 'Shading with CSS text-shadows', 
  :link => 'http://blog.typekit.com/2011/07/19/shading-with-css-text-shadows/', 
  :text => 'Ejemplos de diferentes tipos de sombras que se pueden lograr con CSS3.' %>

<%= render 'partials/modules/mod_article_text', 
  :title => 'Stop Making Sprites (Compass, Sass, and PNG Sprite Generation)', 
  :link => 'http://feedproxy.google.com/~r/VigetInspire/~3/Rm6p9Zu7UA0/', 
  :text => 'Explicación sobre como generar las imágenes de Sprites de manera automática utilizando el Framework de CSS Compass.' %>
  
<%= render 'partials/modules/mod_article_text', 
  :title => 'Pure CSS GUI Icons', 
  :link => 'http://nicolasgallagher.com/pure-css-gui-icons/', 
  :text => 'Texto.' %>
  
  
<%= render 'partials/modules/mod_article_text', 
  :title => 'The top 10 open source web fonts', 
  :link => 'http://www.netmagazine.com/features/top-10-open-source-web-fonts', 
  :text => 'Un tip interesante para hacer que los enlaces muestren la URL en la vista de impresión.' %>
    


	<%= render 'partials/modules/mod_title', 
	  :title => 'JS' %>

	<%= render 'partials/modules/mod_article_text', 
	  :title => 'Sugar: A simple Javascript library for working with native objects', 
	  :link => 'http://sugarjs.com/',
	  :text => 'TEXTO' %>
	

	<%= render 'partials/modules/mod_text',
	  :text => '<strong>JS PLUGINS</strong> <br />' +
	           link('http://jamielottering.github.com/DropKick/', true) +
	           link('http://leaverou.me/csss/sample-slideshow.html', true) +
	 					 link('https://github.com/LeaVerou/CSSS', true) + 	
	           link('http://hakim.se/experiments/css/slideshow/#/',true)+
						 link('http://hakim.se/experiments/css3-3d-slideshow',true),
	  :padding => '10px 20px 30px'
	%>

	<%= render 'partials/modules/mod_separata' %>

<%= render 'partials/modules/mod_title', 
  :title => 'INTERESTING' %>
  
<%= render 'partials/modules/mod_article_text', 
  :title => 'Rapid Prototyping with flickrBomb', 
  :link => 'http://www.zurb.com/playground/rapid-prototyping-with-flickrbomb',
  :text => 'texto' %>
  
<%= render 'partials/modules/mod_article_text', 
  :title => 'Infinite Mario in HTML5', 
  :link => 'http://mario.fromlifetodeath.com/',
  :text => 'TEXTO' %>
  
<%= render 'partials/modules/mod_separata' %>

<%= render 'partials/modules/mod_title', 
  :title => '	TOOLS' %>
  
<%=render 'partials/modules/mod_article_link', 
	:link => 'http://www.webputty.net/', 
	:title => 'WebPutty' %>

  
<%= render 'partials/modules/mod_separata' %>



<%= render 'partials/modules/mod_title', 
  :title => '	MOBILE' %>

<%=render 'partials/modules/mod_article_link', 
	:link => 'http://ipadpeek.com/', 
	:title => 'iPad Peek' %>
  
<%=render 'partials/modules/mod_article_link', 
	:link => 'http://www.phono.com/', 
	:title => 'Phono: jQuery Phone plugin' %>
	
<%=render 'partials/modules/mod_article_link', 
	:link => 'http://www.socketbug.com/', 
	:title => 'Socketbug: Mobile web application debugging' %>
		
<%=render 'partials/modules/mod_article_link', 
	:link => 'http://www.springbox.com/mobilizer/', 
	:title => 'Mobilizer: Mobile tool for mobile development' %>

  
<%= render 'partials/modules/mod_separata' %>



