--- 
issue: 2
date: 15 July 2011
---

<%= render 'partials/modules/mod_separata' %>

<%= render 'partials/modules/mod_title', 
  :title => 'CSS' %>

<%= render 'partials/modules/mod_article_text', 
  :title => 'CSS drop-shadows without images', 
  :link => 'http://nicolasgallagher.com/css-drop-shadows-without-images/', 
  :text => 'Aplicar diferentes tipos de sombras a los elementos sin utilizar imágenes, solo con la magia del CSS.' %>

<%= render 'partials/modules/mod_article_text', 
  :title => 'Custom File Inputs with a Bit of jQuery (CSS)', 
  :link => 'http://www.viget.com/inspire/custom-file-inputs-with-a-bit-of-jquery/', 
  :text => 'Personalizar los input "file" para que les podamos cambiar el diseño y que se vea correctamente en todos los navegadores, ya que por defecto cada uno le aplica sus propios estilos.' %>
  
<%= render 'partials/modules/mod_article_text', 
  :title => 'CSS2.1 User Agent Style Sheet Default', 
  :link => 'http://css-class.com/test/css/defaults/UA-style-sheet-defaults.htm', 
  :text => 'Un repaso por todas las etiquetas de HTML y los estilos por defecto que les aplica cada navegador.' %>
  
  
<%= render 'partials/modules/mod_article_text', 
  :title => 'Optimize your links for print using CSS', 
  :link => 'http://css.dzone.com/news/optimize-your-links-print-usin', 
  :text => 'Un tip interesante para hacer que los enlaces muestren la URL en la vista de impresión.' %>
  

<%= render 'partials/modules/mod_article_text', 
  :title => 'Internet Explorer CSS Bugs', 
  :link => 'http://haslayout.net/css/',
  :text => 'Recopilación de problemas de incompatibilidad entre propiedades de CSS e Internet Explorer. Explican por qué ocurre y cómo solucionarlo.' %>
  
<%= render 'partials/modules/mod_separata' %>

<%= render 'partials/modules/mod_title', :title => 'HTML5' %>

<%= render 'partials/modules/mod_article_text', 
  :title => 'HTML5’s New “form” Attribute', 
  :link => 'http://www.impressivewebs.com/html5-form-attribute/',
  :text => 'El atributo "form" de HTML5 permite asociar elementos de formulario a un &lt;form&gt; aunque se encuentren fuera de este. ' %>
  
<%= render 'partials/modules/mod_article_text', 
  :title => 'Defense in Depth: Locking Down Mash-Ups with HTML5 Sandbox', 
  :link => 'http://blogs.msdn.com/b/ie/archive/2011/07/14/defense-in-depth-locking-down-mash-ups-with-html5-sandbox.aspx',
  :text => 'HTML5 Sandbox permite limitar ciertos privilegios de los iframes como ejecutar scripts, abrir popups, llamadas ajax...' %>

<%= render 'partials/modules/mod_article_text', 
    :title => 'On using h1 for all heading levels in HTML5', 
    :link => 'http://www.456bereastreet.com/archive/201106/on_using_h1_for_all_heading_levels_in_html5/',
    :text => 'HTML5 outline algorithm o sobre usar h1s para todos los niveles de navegación en HTML5.' %>

<%= render 'partials/modules/mod_separata' %>

<%= render 'partials/modules/mod_title', 
  :title => 'JS' %>
  
<%= render 'partials/modules/mod_article_text', 
  :title => 'selfDoc.js: Javascript that documents itself', 
  :link => 'https://github.com/rudenoise/selfDoc.js',
  :text => 'Una función de js que nos ayuda a generar documentación para nuestros proyectos Javascript.' %>
  
<%= render 'partials/modules/mod_article_link', 
  :title => 'Apple Javascript Coding Guidelines', 
  :link => 'http://developer.apple.com/library/mac/documentation/ScriptingAutomation/Conceptual/JSCodingGuide/JSCodingGuide.pdf' %>
  
<%= render 'partials/modules/mod_article_text', 
    :title => 'Using AMD loaders to write and manage modular javascript', 
    :link => 'http://unscriptable.com/code/Using-AMD-loaders/',
    :text => 'Interesantes slides sobre Asynchronous Module Definition. Desarrollo de Javascript Modular, cargado asíncronamente y siguiendo los patrones de interoperabilidad de CommonJS.' %>
    


<%= render 'partials/modules/mod_separata' %>

<%= render 'partials/modules/mod_title', 
  :title => 'DEVELOPMENT TOOLS & RESOURCES' %>
  
<%= render 'partials/modules/mod_article_image_medium',
  :image => 'mailing.jpg',
  :text => '<strong>MAILING</strong> <br />' +
           link('http://getfractal.com/', 'Fractal', true) + 
           link('http://beaker.mailchimp.com/inline-css', 'The Automatic CSS Inliner Tool', true) + 
           link('http://inlinestyler.torchboxapps.com/', 'Inline Styler', true) + 
           link('http://htmlemailboilerplate.com/','HTML Email Boilerplate v0.4',true) +
           link('http://www.campaignmonitor.com/blog/post/3107/css3-support-in-email-clients/','Which Email clients support CSS3',true) +
           link('http://htmlemailboilerplate.com/','HTML Email Boilerplate v0.4',true) +
           link('http://www.campaignmonitor.com/css/', 'Guide to CSS Support in email', true)
%>

<%= render 'partials/modules/mod_separata' %>

<%= render 'partials/modules/mod_article_image_medium',
  :image => 'animation.jpg',
  :text => '<strong>CSS ANIMATION</strong> <br />' +
           link('http://www.automatoon.com/', 'Automatoon (online)', true) +
           link('http://matthewlein.com/ceaser/', 'Ceaser', true) + 
           link('http://www.sencha.com/products/animator/', 'Sencha Animator', true) + 
           link('http://tumultco.com/hype/', 'Hype', true) + 
           link('http://animatable.com/','Animatable (soon)', true) +
           link('http://labs.adobe.com/technologies/edge/','Adobe Edge (soon)', true)
%>



<%= render 'partials/modules/mod_separata' %>

<%= render 'partials/modules/mod_title', 
  :title => 'INTERESTING' %>
  
<%= render 'partials/modules/mod_article_text', 
  :title => 'Front-end Code Standards & Best Practices', 
  :link => 'http://na.isobar.com/standards/',
  :text => 'Una pequeña guía con buenas prácticas y algunas convenciones básicas para tener en cuenta cuando empezamos a maquetar.' %>
  
<%= render 'partials/modules/mod_article_text', 
  :title => 'CSS contents and browser compatibility', 
  :link => 'http://www.quirksmode.org/css/contents.html',
  :text => 'Tabla de compatibilidades de selectores CSS2/3 entre diferentes navegadores.' %>
  
<%= render 'partials/modules/mod_separata' %>



