--- 
issue: 3
date: 22 July 2011
---

<%= render 'partials/modules/mod_separata' %>

<%= render 'partials/modules/mod_title', 
  :title => 'CSS' %>

<%= render 'partials/modules/mod_article_text', 
  :title => 'Shading with CSS text-shadows', 
  :link => 'http://blog.typekit.com/2011/07/19/shading-with-css-text-shadows/', 
  :text => 'Ejemplos de diferentes tipos de sombras que se pueden lograr con CSS3.' %>

<%= render 'partials/modules/mod_article_text', 
  :title => 'Stop Making Sprites (Compass, Sass, and PNG Sprite Generation)', 
  :link => 'http://feedproxy.google.com/~r/VigetInspire/~3/Rm6p9Zu7UA0/', 
  :text => 'Explicación sobre como generar las imágenes de Sprites de manera automática utilizando el Framework de CSS Compass.' %>
  
<%= render 'partials/modules/mod_article_text', 
  :title => 'Pure CSS GUI Icons', 
  :link => 'http://nicolasgallagher.com/pure-css-gui-icons/', 
  :text => 'Iconos hechos completamente con CSS. Otro ejercicio de experimentación de Nicolas Gallagher.' %>
  
<%= render 'partials/modules/mod_article_text', 
  :title => 'CSS1k', 
  :link => 'http://css1k.com', 
  :text => 'Similar a CSS Zen Garden pero llevado a un concurso donde las hojas de estilo están limitadas a 1K.' %>

<%=render 'partials/modules/mod_article_text', 
	:link => 'http://www.webputty.net/', 
	:title => 'WebPutty',
	:text => 'Herramienta de edición de CSS online con soporte para SCSS y Compass. Muy fácil de incluir en cualquier site para gestionar las CSS.' %>

<%= render 'partials/modules/mod_separata' %>

<%= render 'partials/modules/mod_title', 
  :title => 'JS' %>

<%= render 'partials/modules/mod_article_text', 
  :title => 'Sugar: A simple Javascript library for working with native objects', 
  :link => 'http://sugarjs.com/',
  :text => 'Una libreria para la manipulación de objetos nativos de Javascript. Una interesante alternativa a '  + 
   link('http://documentcloud.github.com/underscore/', 'Underscore.js', true) %>
  
<%= render 'partials/modules/mod_article_link', 
  :title => 'DropKick.js Painless custom dropdowns, a jQuery joint', 
  :link => 'http://jamielottering.github.com/DropKick/' %>

<%= render 'partials/modules/mod_article_text', 
  :title => 'jQuery EasyUI Framework', 
  :link => 'http://jeasyui.com/',
  :text => '' %>

<%= render 'partials/modules/mod_article_image_medium',
  :image => 'slideshow.jpg',
  :text => '<strong>Slideshows:</strong> <br />' +
           link('http://hakim.se/experiments/css/slideshow/#/', 'CSS 3D Slideshow', true) +
           link('http://hakim.se/experiments/css3-3d-slideshow', 'Enlace a la documentación', true) + 
           link('http://leaverou.me/csss/sample-slideshow.html', 'CSS-Based Slideshow System', true) + 
           link('https://github.com/LeaVerou/CSSS', 'Mobilizer: Enlace a la documentación', true)
%>

	
<%= render 'partials/modules/mod_separata' %>

<%= render 'partials/modules/mod_title', 
  :title => '	MOBILE' %>

<%= render 'partials/modules/mod_article_image_medium',
  :image => 'ipad.jpg',
  :text => '<strong>Mobile development tools:</strong> <br />' +
           link('http://ipadpeek.com/', 'iPad Peek', true) +
           link('http://www.phono.com/', 'Phono: jQuery Phone plugin', true) + 
           link('http://www.socketbug.com/', 'Socketbug: Mobile web application debugging', true) + 
           link('http://www.springbox.com/mobilizer/', 'Mobilizer: Mobile tool for mobile development', true)
%>
  
<%= render 'partials/modules/mod_separata' %>

<%= render 'partials/modules/mod_title', 
  :title => 'INTERESTING' %>
  
<%= render 'partials/modules/mod_article_text', 
  :title => 'Rapid Prototyping with flickrBomb', 
  :link => 'http://www.zurb.com/playground/rapid-prototyping-with-flickrbomb',
  :text => 'Deja de usar placeholders sosos e inclúyelos utilizando imágenes de Flickr.' %>
  
<%= render 'partials/modules/mod_article_link', 
  :title => 'Infinite Mario in HTML5', 
  :link => 'http://mario.fromlifetodeath.com/' %>

<%= render 'partials/modules/mod_separata' %>