<h2>Te ayudamos a tomar tu decisión</h2>
<p></p>

<div style="overflow: hidden">
  
    <div style="float: right; width: 330px">
      
      
      
      <!--<p>Envíanos tus preguntas en relación a los videos de la izquierda y te responderemos lo antes posible</p>-->
    
      
      <iframe src="https://spreadsheets.google.com/spreadsheet/embeddedform?formkey=dDFhWXY4VUtxWVhPMXU2VGZscndxZkE6MQ" width="330" height="800" frameborder="0" marginheight="0" marginwidth="0" scrolling="NO">Loading...</iframe>
      
      
      
                <ul class="focus_box">
                  <li>
                    <p><a href="http://www.uem.es/es/encuentro-digital-respuestas">Consulta las preguntas enviadas por otros usuarios</a></p>
                  </li>
                  <li>
                    <p>
                      <a href="http://www.uem.es/es/oferta-academica/grado/admisiones">Accede a la prueba de ingreso</a><br /><br />
                      <a href="http://www.uem.es/es/conoce-la-uem/experiencia-uem/visitas-a-la-uem">Visita el campus</a>
                    </p>
                  </li>
                </ul>
      
      
      
    </div>
  
  <div style="width: 595px">
  <div class="video_box">
    
    <p style="font-size: 16px; margin-bottom:0;   margin-bottom: 10px; padding-bottom:11px;"><strong>Escuela de Arquitectura</strong></p>
    
   
    <embed width="190" height="137" type="application/x-shockwave-flash" src="http://www.iede.es/swf/flvplayer.swf" style="" id="flvplayer" name="flvplayer" bgcolor="#000000" quality="high" allowfullscreen="true" flashvars="aspect_ratio=1.7777777777777777&amp;fullscreen=undefined&amp;video_path=http://archivo.the-cocktail.com/archivo/uem/videos/corporativo/UEM_20_FEB2011_DIA15.flv&amp;placeholder=/myfiles/pageposts/previa_videos_motivadores.png&amp;idle_text=UEM Personal. haz clic para reproducir"></embed>
    
        <embed width="190" height="137" type="application/x-shockwave-flash" src="http://www.iede.es/swf/flvplayer.swf" style="" id="flvplayer" name="flvplayer" bgcolor="#000000" quality="high" allowfullscreen="true" flashvars="aspect_ratio=1.7777777777777777&amp;fullscreen=undefined&amp;video_path=http://archivo.the-cocktail.com/archivo/uem/videos/corporativo/UEM_20_FEB2011_DIA15.flv&amp;placeholder=/myfiles/pageposts/previa_videos_motivadores_2.png&amp;idle_text=UEM Personal. haz clic para reproducir"></embed>
      

        <embed width="190" height="137" type="application/x-shockwave-flash" src="http://www.iede.es/swf/flvplayer.swf" style="" id="flvplayer" name="flvplayer" bgcolor="#000000" quality="high" allowfullscreen="true" flashvars="aspect_ratio=1.7777777777777777&amp;fullscreen=undefined&amp;video_path=http://archivo.the-cocktail.com/archivo/uem/videos/corporativo/UEM_20_FEB2011_DIA15.flv&amp;placeholder=/myfiles/pageposts/previa_videos_motivadores.png&amp;idle_text=UEM Personal. haz clic para reproducir"></embed>
    

    
    </div>
    
    
      <div class="video_box">
        
            <p style="font-size: 16px; margin-bottom:0;   margin-bottom: 10px; padding-bottom:11px;"><strong>Escuela Politécnica</strong></p>
    
    <embed width="190" height="137" type="application/x-shockwave-flash" src="http://www.iede.es/swf/flvplayer.swf" style="" id="flvplayer" name="flvplayer" bgcolor="#000000" quality="high" allowfullscreen="true" flashvars="aspect_ratio=1.7777777777777777&amp;fullscreen=undefined&amp;video_path=http://archivo.the-cocktail.com/archivo/uem/videos/corporativo/UEM_20_FEB2011_DIA15.flv&amp;placeholder=/mfiles/pageposts/previa_uem_personal_home.png&amp;idle_text=UEM Personal. haz clic para reproducir"></embed>
   
        <embed width="190" height="137" type="application/x-shockwave-flash" src="http://www.iede.es/swf/flvplayer.swf" style="" id="flvplayer" name="flvplayer" bgcolor="#000000" quality="high" allowfullscreen="true" flashvars="aspect_ratio=1.7777777777777777&amp;fullscreen=undefined&amp;video_path=http://archivo.the-cocktail.com/archivo/uem/videos/corporativo/UEM_20_FEB2011_DIA15.flv&amp;placeholder=/mfiles/pageposts/previa_uem_personal_home.png&amp;idle_text=UEM Personal. haz clic para reproducir"></embed>
     

        <embed width="190" height="137" type="application/x-shockwave-flash" src="http://www.iede.es/swf/flvplayer.swf" style="" id="flvplayer" name="flvplayer" bgcolor="#000000" quality="high" allowfullscreen="true" flashvars="aspect_ratio=1.7777777777777777&amp;fullscreen=undefined&amp;video_path=http://archivo.the-cocktail.com/archivo/uem/videos/corporativo/UEM_20_FEB2011_DIA15.flv&amp;placeholder=/mfiles/pageposts/previa_uem_personal_home.png&amp;idle_text=UEM Personal. haz clic para reproducir"></embed>
        
         <embed width="190" height="137" type="application/x-shockwave-flash" src="http://www.iede.es/swf/flvplayer.swf" style="" id="flvplayer" name="flvplayer" bgcolor="#000000" quality="high" allowfullscreen="true" flashvars="aspect_ratio=1.7777777777777777&amp;fullscreen=undefined&amp;video_path=http://archivo.the-cocktail.com/archivo/uem/videos/corporativo/UEM_20_FEB2011_DIA15.flv&amp;placeholder=/mfiles/pageposts/previa_uem_personal_home.png&amp;idle_text=UEM Personal. haz clic para reproducir"></embed>
   
        <embed width="190" height="137" type="application/x-shockwave-flash" src="http://www.iede.es/swf/flvplayer.swf" style="" id="flvplayer" name="flvplayer" bgcolor="#000000" quality="high" allowfullscreen="true" flashvars="aspect_ratio=1.7777777777777777&amp;fullscreen=undefined&amp;video_path=http://archivo.the-cocktail.com/archivo/uem/videos/corporativo/UEM_20_FEB2011_DIA15.flv&amp;placeholder=/mfiles/pageposts/previa_uem_personal_home.png&amp;idle_text=UEM Personal. haz clic para reproducir"></embed>
     
   
    
    </div>
    
    
      <div class="video_box">
        
            <p style="font-size: 16px; margin-bottom:0;"><strong>Facultad de Salud y Facultad de Biomédicas</strong></p>
    
    <embed width="190" height="137" type="application/x-shockwave-flash" src="http://www.iede.es/swf/flvplayer.swf" style="" id="flvplayer" name="flvplayer" bgcolor="#000000" quality="high" allowfullscreen="true" flashvars="aspect_ratio=1.7777777777777777&amp;fullscreen=undefined&amp;video_path=http://archivo.the-cocktail.com/archivo/uem/videos/corporativo/UEM_20_FEB2011_DIA15.flv&amp;placeholder=/mfiles/pageposts/previa_uem_personal_home.png&amp;idle_text=UEM Personal. haz clic para reproducir"></embed>
   
        <embed width="190" height="137" type="application/x-shockwave-flash" src="http://www.iede.es/swf/flvplayer.swf" style="" id="flvplayer" name="flvplayer" bgcolor="#000000" quality="high" allowfullscreen="true" flashvars="aspect_ratio=1.7777777777777777&amp;fullscreen=undefined&amp;video_path=http://archivo.the-cocktail.com/archivo/uem/videos/corporativo/UEM_20_FEB2011_DIA15.flv&amp;placeholder=/mfiles/pageposts/previa_uem_personal_home.png&amp;idle_text=UEM Personal. haz clic para reproducir"></embed>
     

        <embed width="190" height="137" type="application/x-shockwave-flash" src="http://www.iede.es/swf/flvplayer.swf" style="" id="flvplayer" name="flvplayer" bgcolor="#000000" quality="high" allowfullscreen="true" flashvars="aspect_ratio=1.7777777777777777&amp;fullscreen=undefined&amp;video_path=http://archivo.the-cocktail.com/archivo/uem/videos/corporativo/UEM_20_FEB2011_DIA15.flv&amp;placeholder=/mfiles/pageposts/previa_uem_personal_home.png&amp;idle_text=UEM Personal. haz clic para reproducir"></embed>
        
         <embed width="190" height="137" type="application/x-shockwave-flash" src="http://www.iede.es/swf/flvplayer.swf" style="" id="flvplayer" name="flvplayer" bgcolor="#000000" quality="high" allowfullscreen="true" flashvars="aspect_ratio=1.7777777777777777&amp;fullscreen=undefined&amp;video_path=http://archivo.the-cocktail.com/archivo/uem/videos/corporativo/UEM_20_FEB2011_DIA15.flv&amp;placeholder=/mfiles/pageposts/previa_uem_personal_home.png&amp;idle_text=UEM Personal. haz clic para reproducir"></embed>
   
        <embed width="190" height="137" type="application/x-shockwave-flash" src="http://www.iede.es/swf/flvplayer.swf" style="" id="flvplayer" name="flvplayer" bgcolor="#000000" quality="high" allowfullscreen="true" flashvars="aspect_ratio=1.7777777777777777&amp;fullscreen=undefined&amp;video_path=http://archivo.the-cocktail.com/archivo/uem/videos/corporativo/UEM_20_FEB2011_DIA15.flv&amp;placeholder=/mfiles/pageposts/previa_uem_personal_home.png&amp;idle_text=UEM Personal. haz clic para reproducir"></embed>
        
   
    
    </div>
    
        <div class="video_box">
        
            <p style="font-size: 16px; margin-bottom:0;"><strong>Facultad de Artes y Comunicación</strong></p>
    
    <embed width="190" height="137" type="application/x-shockwave-flash" src="http://www.iede.es/swf/flvplayer.swf" style="" id="flvplayer" name="flvplayer" bgcolor="#000000" quality="high" allowfullscreen="true" flashvars="aspect_ratio=1.7777777777777777&amp;fullscreen=undefined&amp;video_path=http://archivo.the-cocktail.com/archivo/uem/videos/corporativo/UEM_20_FEB2011_DIA15.flv&amp;placeholder=/mfiles/pageposts/previa_uem_personal_home.png&amp;idle_text=UEM Personal. haz clic para reproducir"></embed>
   
        <embed width="190" height="137" type="application/x-shockwave-flash" src="http://www.iede.es/swf/flvplayer.swf" style="" id="flvplayer" name="flvplayer" bgcolor="#000000" quality="high" allowfullscreen="true" flashvars="aspect_ratio=1.7777777777777777&amp;fullscreen=undefined&amp;video_path=http://archivo.the-cocktail.com/archivo/uem/videos/corporativo/UEM_20_FEB2011_DIA15.flv&amp;placeholder=/mfiles/pageposts/previa_uem_personal_home.png&amp;idle_text=UEM Personal. haz clic para reproducir"></embed>
     

        <embed width="190" height="137" type="application/x-shockwave-flash" src="http://www.iede.es/swf/flvplayer.swf" style="" id="flvplayer" name="flvplayer" bgcolor="#000000" quality="high" allowfullscreen="true" flashvars="aspect_ratio=1.7777777777777777&amp;fullscreen=undefined&amp;video_path=http://archivo.the-cocktail.com/archivo/uem/videos/corporativo/UEM_20_FEB2011_DIA15.flv&amp;placeholder=/mfiles/pageposts/previa_uem_personal_home.png&amp;idle_text=UEM Personal. haz clic para reproducir"></embed>
        
         <embed width="190" height="137" type="application/x-shockwave-flash" src="http://www.iede.es/swf/flvplayer.swf" style="" id="flvplayer" name="flvplayer" bgcolor="#000000" quality="high" allowfullscreen="true" flashvars="aspect_ratio=1.7777777777777777&amp;fullscreen=undefined&amp;video_path=http://archivo.the-cocktail.com/archivo/uem/videos/corporativo/UEM_20_FEB2011_DIA15.flv&amp;placeholder=/mfiles/pageposts/previa_uem_personal_home.png&amp;idle_text=UEM Personal. haz clic para reproducir"></embed>
   
        <embed width="190" height="137" type="application/x-shockwave-flash" src="http://www.iede.es/swf/flvplayer.swf" style="" id="flvplayer" name="flvplayer" bgcolor="#000000" quality="high" allowfullscreen="true" flashvars="aspect_ratio=1.7777777777777777&amp;fullscreen=undefined&amp;video_path=http://archivo.the-cocktail.com/archivo/uem/videos/corporativo/UEM_20_FEB2011_DIA15.flv&amp;placeholder=/mfiles/pageposts/previa_uem_personal_home.png&amp;idle_text=UEM Personal. haz clic para reproducir"></embed>
        
   
    
    </div>
    
    
    
    

        
 
        

    
  </div>
  

   </div>
  


   <style type="text/css" media="screen">
     .video_box {
       background: url("http://www.uem.es/sites/corporativo/images/bg_breadcrumb.gif") repeat-x left bottom;
       overflow: hidden ;
       padding: 0 0 30px 8px; 
       margin: 0 0 30px 0;
       text-align:left;
     }

     .video_box p {
       text-align:left;
     }
     
     #content .interior_page .int_txt .focus_box {
       margin-left:0;
     }
     
     #content .interior_page .int_txt .focus_box li {
       list-style:none;
       background: #EDEDED url("http://www.uem.es/sites/corporativo/images/bg_ads_box.gif") no-repeat left top;
       margin-bottom:.8em;
       padding-left:2.5em;
     }
     #content .interior_page .int_txt .focus_box  li p {
       padding:.7em 1.5em .7em 0;
       min-height:2.3em;
       _height: 2.3em;
     }
     #content .interior_page .int_txt .focus_box li p a {
       font-size:1.1em;
       text-decoration:none;
       font-weight:bold;
     }

   </style>