<table width="100%" class="footer" style="border-collapse: collapse;border-spacing: 0;background-color: #338AC4;font-family: arial,sans-serif;font-size: 14px;color: #fff">
	<tr>
		<td style="padding:24px 0">
			<table width="600" align="center" style="border-collapse: collapse;border-spacing: 0;">
				<tr>
					<td align="center" class="footer" style="background-color: #338AC4;font-family: arial,sans-serif;font-size: 14px;color: #fff;text-shadow:1px 1px 1px #1C4E70;">
					  Made with love by The Cocktail&trade; Crew.<br /><br />
					  
						Puedes acceder al archivo completo de boletines enviados hasta el momento en <br/> <a href="http://thecocktail.github.com/Front-end-weekly" style="color: #fff;">http://thecocktail.github.com/Front-end-weekly</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>