<table width="100%" class="cabecera" style="border-collapse: collapse;border-spacing: 0;background-color: #338AC4;height:133px">
	<tr>
		<td valign="top" style="padding-bottom:20px">
			<table width="600" align="center" style="border-collapse: collapse;border-spacing: 0;">
				<tr>
				  
					<td width="269">
					  <a href="/" style="text-decoration:none; display:block;">
					    <img src="http://archivo.the-cocktail.com/archivo/newsletter/front_end_weekly/images/logo.jpg" width="253" height="133" alt="font-end weekly"/>
					  </a>
					</td>
					
					<td valign="bottom" align="right" class="details" style="padding: 0 20px 10px 0;font-family: arial,sans-serif;font-size: 14px;color: #fff;text-shadow:1px 1px 1px #1C4E70;">
						<p style="margin: 0;padding: 2px 0;">Número #<%= @item[:issue] %></p>
						<p style="margin: 0;padding: 2px 0;"><%= @item[:date] %></p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
