<div class="contactform">
  <div class="grid_9 fl section-box">
    	<div class="inner-section-box">
    		<h1 class="accessible">Contacta con Springfield</h1>
    		<div class="mapinfo">
    			<a class="map" href="http://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=Avd.+del+Llano+Castellano+51&amp;sll=40.396764,-3.713379&amp;sspn=8.030409,19.753418&amp;ie=UTF8&amp;hq=&amp;hnear=Av+del+Llano+Castellano,+51,+28034+Madrid,+Comunidad+de+Madrid&amp;ll=40.489978,-3.685977&amp;spn=0.007833,0.01929&amp;z=16" target="_blank"><img alt="mapa" src="http://s3.amazonaws.com/springfield-shop/public/files/assets/109/map.png" /></a>
    			<p>Puedes contactar con Springfield por tel&eacute;fono, llamando a la l&iacute;nea springfield, por direcci&oacute;n postal o bien utilizando nuestro formulario de contacto:</p>
    			<br />
    			<br />
    			<br style="font-family: Helvetica; " />
    			
    		</div>
    		{{suggestions/new}}
    	</div>
  </div><!-- .grid_9 -->
  
  <div class="flow grid_3 fr">
    <h2 class="mod_title">LÍNEA FIFTY FACTORY</h2>
    <p class="phone">902945362<br /><span>(solo en España)</span></p>
    
    <h3 class="mod_title">CORREO POSTAL</h3>
    
    <p>
      <strong>Cortefiel S.A - Fifty Factory</strong><br />
      <span>Avda. Llano Castellano, 51<br />28034 Madrid</span>
    </p>
    
  </div><!-- .grid_3 -->
</div><!-- .contactform -->